/* Global Styles */
html,
body {
    padding: 0;
    margin: 0;

    width: 100vw;

    font-family: sans-serif, "Noto Sans";

    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}


/* About */

.Waves {
    width: 100%;
    height: auto;
}

/* Waves Image */

.Header {
    overflow: hidden;
    background-color: #044b7f;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Blue Navbar */
.navbar {
    position: fixed; /* Set the navbar to fixed position */
    overflow: hidden;
    background-color: #044b7f;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.navbar a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 12px 16px;
    padding-bottom: 15px;
    text-decoration: none;
}

/* Navbar Buttons */

.navbar a:hover {
    background: #04395e;

}

/* Change look of Nav Buttons when hovered over */

.About {
    overflow: auto;

}

/* About Content */

img.AboutPhoto {
    width: 40%;
    max-width: 600px;
    height: auto;
    float: right;
    margin-left: 0.5rem;
}

/* About Photo */

body {
    background-color: #faf0ca;
}


.BodyContainer {
    padding: 1.25rem;
}


/* Setting the Main Background Colour */


/* Read */

#SearchInput, #TitleInput, #PasscodeInput {
    width: auto;
    font-size: 16px;
    padding: 12px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    margin-top: 5px;
    background-color: #044b7f;
    color: #e5e2d7;
    border-radius: 4px;
}

#FileInput {
    width: auto;
    font-size: 16px;
    padding: 9px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    margin-top: 5px;
    background-color: #044b7f;
    color: #e5e2d7;
    border-radius: 4px;
}

input[type=file]::file-selector-button {
    border-radius: 4px;
    background-color: #e5e2d7;
}

input[type=file]::file-selector-button:hover {
    background-color: #f47255;
}


::placeholder {
    color: #e5e2d7;

}

#Links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#Links li a {
    font-size: 1.25rem;
    font-weight: bold;
}

#Links li a span {
    font-size: 1rem;
    font-weight: normal;
}

#Links li a {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    color: black;
    border-radius: 4px;
}

#Links li a:hover:not(.header) {
    background-color: #f47255;
}


#searchText, #postText {
    margin-top: 30px;
    margin-bottom: 5px;
}

#PublishButton {
    width: auto;
    font-size: 16px;
    padding: 12px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    background-color: #056fbc;
    color: #e5e2d7;
    border-radius: 4px;
}

#PublishButton:hover {
    background-color: #2d7ab2;
}

#PublishButton:active {
    background-color: #f47255;
}

@media only screen and (max-width: 600px) {
    #Links li a {
        flex-direction: column;
    }

    img.AboutPhoto {
        max-width: 90vw;
        width: 100%;
    }
}